@charset "UTF-8";
@font-face {
    font-family:Iran Sans Web;
    src:url(../fonts/IRANSans-Light-web.eot);
    src:url(../fonts/IRANSans-Light-web.eot?#iefix) format("eot"),
        url(../fonts/IRANSans-Light-web.woff2) format("woff2"),
        url(../fonts/IRANSans-Light-web.woff) format("woff"),
        url(../fonts/IRANSans-Light-web.ttf) format("ttf");
    font-weight:300
}
@font-face{
    font-family:Iran Sans Web;
    src:url(../fonts/IRANSans-web.eot);
    src:url(../fonts/IRANSans-web.eot?#iefix) format("eot"),
        url(../fonts/IRANSans-web.woff2) format("woff2"),
        url(../fonts/IRANSans-web.woff) format("woff"),
        url(../fonts/IRANSans-web.ttf) format("ttf");
    font-weight:400
}
@font-face{
    font-family:Iran Sans Web;
    src:url(../fonts/IRANSans-Bold-web.eot);
    src:url(../fonts/IRANSans-Bold-web.eot?#iefix) format("eot"),
        url(../fonts/IRANSans-Bold-web.woff2) format("woff2"),
        url(../fonts/IRANSans-Bold-web.woff) format("woff"),
        url(../fonts/IRANSans-Bold-web.ttf) format("ttf");
    font-weight:700
}
body {
    font-family: "Iran Sans Web";
    direction: rtl;
    text-align: right;
}
.navbar {
    background-color: #222831;
}
.logo {
    width: 170px;
    height: auto;
}
.cl-secondary {
    color: #00adb5 !important;
}
.cl-text {
    color: #bcc1c7;
}
.bg-primary {
    background: #393e46 !important;
}
.content {
    background: #393e46;
    color: #bcc1c7;
    padding: 130px 0;
}
input.form-control {
    height: 50px;
    padding: 0px 25px;
    color: #4b515c !important;
}
button.form-control {
    height: 50px;
    padding: 0px 25px;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .slugForm {
        margin-left: 19px;
    }
    #linkInput {
        border-bottom-left-radius: 0;
    }
}
#slugInput {
    border-radius: 0;
    background: #222831;
    border: 0;
    text-align: center;
    color: white !important;
}
#slugInput::placeholder {
    color: white !important;
    font-size: 9pt;
}
#slugStaticInput {
    border-radius: 0;
    background: #222831;
    border: 0;
    padding: 8px;
    text-align: center;
}
